{% include base_path %}

<div class="paper-entry">

  <div class="container">

    <!-- LEFT: teaser -->
    <div class="left-div">
      <a href="{{ post.project_url }}"
         class="special-link">

        {% if post.teaser_video %}
        <video autoplay muted loop playsinline class="teaser">
          <source src="{{ post.teaser_video | prepend: base_path }}" type="video/mp4">
        </video>
        {% elsif post.teaser_image %}
        <img src="{{ post.teaser_image | prepend: base_path }}"
             class="teaser"
             alt="{{ post.title }} image">
        {% endif %}

      </a>
    </div>

    <!-- RIGHT: text -->
    <div class="right-div">
      <a href="{{ post.project_url }}"
         class="special-link">

        <p>
          <b>{{ post.title }}</b><br/>

          {% for author_id in post.authors %}
            {% if site.data.authors and site.data.authors[author_id] %}
              {% assign author = site.data.authors[author_id] %}
            {% else %}
              {% assign author = site.data.authors['me'] %}
            {% endif %}
            {%- if author_id == "me" -%}<b>{%- endif -%}
            {%- if author.url -%}
              <a href="{{ author.url }}">{{ author.first_name }} {{ author.last_name }}</a>
            {%- else -%}
              {{ author.first_name }} {{ author.last_name }}
            {%- endif -%}
            {%- if author_id == "me" -%}</b>{%- endif -%}
            {%- unless forloop.last %}, {% endunless %}
          {% endfor %}
          <br/>

          <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}.

          {%- if post.prize -%}
            <br/><br/>{{ post.prize | markdownify  | remove: "<p>" | remove: "</p>" }}
          {%- endif -%}
          <br/><br/>

          {% if post.project_url %}
          <a class="btn btn--small special-link" href="{{ post.project_url }}">
            <i class="fas fa-bolt"></i> Webpage
          </a>
          {% endif %}

          {% if post.paper_url %}
          <a class="btn btn--small special-link" href="{{ post.paper_url }}">
            <i class="fas fa-file-pdf"></i> Paper
          </a>
          {% endif %}

          {% if post.code_url %}
          <a class="btn btn--small special-link" href="{{ post.code_url }}">
            <i class="fab fa-github"></i> Code
          </a>
          {% endif %}

          {% if post.video_url%}
          <a class="btn btn--small special-link" href="{{ post.video_url }}">
            <i class="fas fa-play-circle"></i> Video
          </a>
          {% endif %}

          {% if post.bibtex_id %}
          <a class="btn btn--small special-link collapsible"
             onclick="event.preventDefault(); event.stopPropagation(); toggleBibtex('{{ post.bibtex_id }}'); return false;">
            <i class="fas fa-book"></i> BibTeX
          </a>
          {% endif %}

        </p>

      </a>
    </div>
  </div>


  {% if post.bibtex_id %}
  {% assign bibtype = "inproceedings" -%}
  {%- if post.venue contains "arXiv" -%}
  {% assign bibtype = "article" -%}
  {%- endif -%}

  <div id="bibtex-{{ post.bibtex_id }}" class="collapsible-content">
    <pre class="p-bibtex">
{% if post.bibtex %}
{{ post.bibtex | strip }}
{% else %}
  @{{ bibtype }}{ {{ post.bibtex_id }},
    title     = { {{ post.title }} },
    author    = { {% for author_id in post.authors -%}
        {%- if site.data.authors and site.data.authors[author_id] -%}
          {%- assign author = site.data.authors[author_id] -%}
        {%- else -%}
          {%- assign author = site.data.authors['me'] -%}
        {%- endif -%}
        {{ author.last_name }}, {{ author.first_name }}{% unless forloop.last %} and {% endunless %}{% endfor %} },
  {%- if bibtype == "article" %}
    journal   = { {{ post.venue }} },
  {%- else %}
    booktitle = { {{ post.venue }} },
  {%- endif %}
    year      = { {{ post.date | date: "%Y" }} }
  }
{% endif %}
    </pre>
  </div>
  {% endif %}



</div>